<!DOCTYPE html>
<html lang="fr" class="translated-ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="{{ url_for('static', filename='styles/bootstrap4.4.1/dist/css/bootstrap.min.css') }}" rel="stylesheet">
		<script src="{{ url_for('static', filename='styles/bootstrap4.4.1/dist/js/bootstrap.min.js') }}"></script>
		<link type="text/css" rel="stylesheet" charset="UTF-8" href="{{ url_for('static', filename='styles/bootstrap4.4.1/dist/style.css') }}">
		<title>Modification de donnée</title>
	</head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
			<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
				<span class="navbar-toggler-icon"></span>
			</button>
			<h4><span class="navbar-text">Chatbot RoCo</span></h4>
			<div class="collapse navbar-collapse" id="collapse_target">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Accueil</a></li>
					<li class="nav-item"><a class="nav-link" href="{{url_for('add_data')}}">Ajouter</a></li>
					<li class="nav-item"><a class="nav-link" href="{{url_for('modify_data')}}">Modifier</a></li>
					<li class="nav-item"><a class="nav-link" href="{{url_for('delete_data')}}">Supprimer</a></li>
					<li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Deconnecter</a></li>
				</ul>
			</div>
		</nav>
        <div class="container d-flex justify-content-center">
            <div class="form-box">
                <div class="right">
					<h2>Modifier des données dans la base</h2>
					{% with messages = get_flashed_messages() %}
                		{% if messages %}
                    		{% for message in messages %}
                        		<div class="alert alert-primary" role="alert">
                            		{{ message }}
                        		</div>
                    		{% endfor %}
                		{% endif %}
            		{% endwith %}
                    <form action="" method="post">
                        <input style="margin: 8px;"  type="text" class="form-control form-control-sm" name="category" placeholder="Nouvelle catégorie">
                        <input style="margin: 8px;"  type="text" class="form-control form-control-sm" name="question" placeholder="Nouvelle question">
                        <input style="margin: 8px;"  type="text" class="form-control form-control-sm" name="answer" placeholder="Nouvelle réponse">
                        <button type="submit" value="Submit" class="btn btn-success" name="update">Mis à jour</button>
                    </form>
                </div>
            </div>
        </div>
		<footer class="container-fluid" style="margin-top:10px; color: #fff; background: #808080; position: absolute; bottom: 0;">
			<section class="row">
				<div class="col-sm-6 col-lg-3 p-4">
					<span style="margin: 10px;"><a href="#" style="color:#2758df"><i class="fab fa-twitter"></i></a></span>
					<span style="margin: 10px;"><a href="#" style="color:#fff"><i class="fab fa-github"></i></a></span>
					<span style="margin: 10px;"><a href="#" style="color:#2758df"><i class="fab fa-facebook-f"></i></a></span>
				</div>
			</section>
			<div class="text-center">RoCo &copy; 2020 | Design by Mato_Tiémoko  Copyright tous droits réservés</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
<html>